 /****************************************************
#####################################################
##-------------------------------------------------##
##         KERLLESE   TEMPLATE                     ##
##-------------------------------------------------##
## Copyright = globbersthemes.com- 2012            ##
## Date      = 	mars 2012                          ##
## Author    = globbers                            ##
## Websites  = http://www.globbersthemes.com       ##
##                                                 ##
#####################################################
****************************************************/
 
html {
height: 100%;
 
}

 body{
margin:0;
padding:0;
text-align:center;
background:#fdfdfd url(../images/bg.jpg) 0 0 repeat;
font-size:13px;
color:#27262c;
font-family:  georgia,cambria, Helvetica, sans-serif;
font-weight:normal;
 
}

/*texte*/

p {
font-size: 100%;
 
}
 
h1 {
 font-size: 200%;
 
}
 
h2 {
font-size: 150%;

}

h3 {
font-size: 125%;

}

h4, h5, h6 {
font-size: 100%;

}

/* liens hypertextes*/ 

a:link, a:visited {
text-decoration:none;
font-weight:normal;
color:#27262c;
 
}

a:hover {
color:#838d92;

}

ul {
margin:0;
padding-left:15px;

}

li {
list-style-type:square;
background: none;
margin:4px;

}

 img {
 border:none;
 margin:  0px;
 padding:5px; 
 }
 
img .caption {
text-align: left;
 
}
 
 .highlight{
 background:#363c40;
 padding: 0px 2px 0px 2px;
 color:#f1f1f1;
 
 }
 
.button {
background:#1e1e1e;
border:none;
color:#f1f1f1;
font-weight:bold;
padding:4px;
 
} 

.inputbox {
color:#838d92;
background:#efefef;
border:none;
padding:4px;
font-weight:normal;
 
} 

.pagewidth{
width:920px;
text-align:center;
background:transparent;
margin-left:auto;
margin-right:auto;
margin-top:0px;
margin-bottom:0px;

 }
 
label {
text-align:left;
 
}

fieldset {
margin:0px 5px 5px 5px;
padding:10px;
border:none;

}

.clr {
clear:both;

}

#header {
float:left;
width:100%;
height:112px;
background: url(../images/header.jpg) 0 0 repeat-x;
 
}

#topmenu {
width:920px;
height:70px;
background:transparent;
 
}

.navigation { 
float:left;
width: 920px;
margin-top:20px;
background:transparent;
}

.navigation ul {
list-style: none;
margin:0; 
padding:0;
float: left;

}

.navigation ul ul {
margin: 0; /* all lists */
padding: 0;
 
}

.navigation ul li {
margin:0 15px;
padding: 0;
float: left;
list-style: none;
background: none;display: block;	

}

.navigation ul li ul {
width: 200px;
position: absolute; 
/* second-level lists */
z-index: 99;left: -999em; 
/* using left instead of display to hide menus because display: none isn't read by screen readers */
height: auto;w\idth: 200px;
 
}
 
.navigation ul li ul ul {
margin: 0; /* third-and-above-level lists */
 
}

.navigation ul li li {
padding: 0;
margin: 0;
width: 100%;
 
}

.navigation ul ul a {
width: 100%;
 
}

.navigation ul li:hover ul ul,
.navigation ul li:hover ul ul ul,
.navigation ul li.sfhover ul ul,
.navigation ul li.havechildsfhover ul ul,
.navigation ul li.havechild-activesfhover ul ul,
.navigation ul li.activesfhover ul ul,
.navigation ul li.sfhover ul ul ul,
.navigation ul li.havechildsfhover ul ul ul,
.navigation ul li.havechild-activesfhover ul ul ul,
.navigation ul li.activesfhover ul ul ul {
 left: -999em;	
 
}

 /* This "unhides" the sub-menus (left: -999em is what hides them) */
 .navigation ul li:hover ul,
 .navigation ul li li:hover ul,
 .navigation ul li li li:hover ul,
 .navigation ul li.sfhover ul,
 .navigation ul li.havechildsfhover ul,
 .navigation ul li.havechild-activesfhover ul,
 .navigation ul li.activesfhover ul,
* .navigation ul li li.sfhover ul,
 .navigation ul li li.havesubchildsfhover ul,
 .navigation ul li li.havesubchild-activesfhover ul,
 .navigation ul li li.activesfhover ul,
 .navigation ul li li li.sfhover ul,
 .navigation ul li li li.havesubchildsfhover ul,
 .navigation ul li li li.havesubchild-activesfhover ul,
 .navigation ul li li li.activesfhover ul {
 left: auto;	
 
 }
 
 /* STYLING THE MENU-----------------------------------*//* 1st level */
 
.navigation ul li a {
padding: 8px 14px 0 16px ;
margin:0;display: block;
font-weight: normal;
font-size:14px;
text-transform:capitalize;
height:34px;
background:transparent;
color:#fffffd;
margin-left:-10px;
 
}

.navigation ul li {
background:transparent;
height:34px;

}

.navigation ul li span {
background:transparent;
height:34px;
padding:0px ;
margin:0 ; 
 
}

.navigation li.active {
height:34px ;
background:transparent url(../images/menu_02.png) no-repeat 100% 0px ;
 
}
 
.navigation li.active span {
height:34px ;
background:transparent url(../images/menu_01.png) no-repeat 0 0px ;

}

.navigation li.active a {
color:#fff ;
height:34px ;
background:transparent url(../images/menu_01.png) no-repeat 0 0px ;
margin-left:-10px;
color:#4d535a;

}

.navigation li:hover {
height:34px ;
background:transparent url(../images/menu_02.png) no-repeat 100% 0px ;
 
}

.navigation li:hover span {
height:34px ;
background:transparent url(../images/menu_01.png) no-repeat 0 0px ;
 
}

.navigation li:hover a {
height:34px ;
color:#fff ;
background:transparent url(../images/menu_01.png) no-repeat 0 0px ;
margin-left:-10px; 
color:#4d535a;

}

 /* 2nd level and above */ 
.navigation ul li ul {
background: url(../images/bg-ul.jpg) repeat 0 0;
margin-top: -5px;
padding-bottom: 10px;
padding-top: 5px;
text-align:left !important;
 
}

.navigation ul li ul li{
height:41px !important;
 
} 

.navigation ul li ul li a:hover,
.navigation ul li ul li.active a  {
color:#000 !important;
height:41px !important;

} 
 
.navigation ul li ul li a{
color:#2d2d2d !important;
height:41px !important;
padding-left:31px;
background:none !important;
 
} 
  
.navigation ul li ul li:hover {
height:41px ;
background: transparent ;
 
} 

.navigation ul li ul li.active {
height:41px ;
background:none ;

}

.navigation ul li ul li.active span {
height:41px ;background:none;
 
}

.navigation ul li ul li.active a {
height:41px ;
background:none;
color:#2d2d2d;
 
} 

.navigation ul li ul li ul {
margin-left:180px;
margin-top: -30px;
padding-bottom: 3px;
padding-top: 0px;
text-align:left !important;
padding-bottom: 0px;

} 

/*************************/
 
 #content-bottom {
 float:left;
 width:900px;
 height:38px;
 background:tranparent;
 margin-top:20px; 
 
 }
 
 #hightlight-t{
 float:left;
 text-align:left;
 font-size:12px;
 margin-left:3px;
 padding-top:10px;
 padding-left:35px;
 width:80px;
 height:25px;
 background: url(../images/bg-news.png) no-repeat 0 9px;
 color:#e5e5e5;
 
 }

 
 #hightlight-b {
 float:left;
 text-align:left;
 font-size:12px;
 width:550px;
 height:50px;
 background:transparent;
 color:#bec1c2;
 
}



#hightlight-b a {
color:#bec1c2;
 
}

#hightlight-b a:hover {
color:#27262c;
 
}
 
 ul#news {
 float:left;
 width:700px;
 padding:5px 0 0 0 ;
 margin:0;
 background:transparent;
 font-style:italic; 
 
 }
 
 ul#news li {
 list-style-type:none;
 
 }
 
 #tool {
 float:right;
 width:64px;
 height:23px;
 background: url(../images/login.png) no-repeat 0 0px;
 margin-top:5px;
 text-align:left;
 font-weight:bold;
 margin-right:20px;
 
 }
 
 .jqmWindow {
 display: none;
 position: fixed;
 top: 17%;
 left: 50%;
 margin-left: -300px;
 width: 200px;
 background:#fff;
 color: #000;
 padding: 12px;
 text-align:left;
 font-weight:bold;
 
 }
 .jqmClose {
 background:#e1e1e1;
 float:right;
 font-weight:bold;
 padding:5px;
 
 }
 
 a.jqModal  {
 background:transparent;
 font-size:11px;
 padding-left:13px;
 margin-top:5px !important;
 display:block;
 color:#fff !important;
 
 
 }


 
 .jqModal:hover {
 color:#2d2d2d !important;
 
 }
 
 .jqmOverlay { 
 background-color: #000; 
 
 }
 
 /**************************/
 #wrapper-top {
 float:left;
 width:900px;
 height:300px;
 background:transparent;
 margin-top:45px;
 
 }
 
 #sitename {
 float:left;
 margin-top:45px;
 }
 
 
 #slide {
 float:left;
 width:583px;
 height:272px !important;
 background:#fff;
 border:1px solid #e8e8e8;
 margin-left:45px; 
 padding:0px;
 text-align:left;
 
 }
 
 #s3slider {
   width: 590px; /* important to be same as image width */
   height: 264px; /* important to be same as image height */
   position: relative; /* important */
   overflow: hidden; /* important */
  text-align:left;
  margin-left:-15px;
    text-align:left;
}

#s3sliderContent {
   width: 590px; /* important to be same as image width or wider */
   position: absolute; /* important */
   top: 0; /* important */
   margin-left: 0; /* important */
    text-align:left;
}

 .s3sliderImage {   
 float: left; /* important */   
 position: relative; /* important */   
 display: none; /* important */
 margin:0  !important;
 padding:0;
  text-align:left;
 } 

.s3sliderImage span {   
 position: absolute; /* important */   
 left: 5px;   
 top:220px;   
 font-size:16px;  /*  padding: 10px 13px; */  
 width: 583px !important;   
 height:50px;   
 background-color:#000;   
 line-height:42px;   
 filter: alpha(opacity=80); 
 /* here you can set the opacity of box with text */  
 -moz-opacity: 0.8; /* here you can set the opacity of box with text */   
 -khtml-opacity: 0.8; /* here you can set the opacity of box with text */   
 opacity: 0.8; /* here you can set the opacity of box with text */   
 color: #efefef;  display: none;     
 text-align:center !important;
 
 }
 
li.s3sliderImage {
list-style:none !important;
padding:0;
margin:0;
text-align:left;

}

.clear {
clear: both;

} 
 
/**********************/
#wrapper-main {
float:left;
width:900px;
background:transparent;
margin-top:20px;

}

#colonne {
float:left;
width:251px;
background:transparent;
text-align:left;
margin-top:7px;

}

#left {
float:left;
width:251px;
background:transparent;
text-align:left;

}

#left .moduletable,
#left .moduletable_menu {
float:left;
margin-bottom:30px;
width:251px;

}

#left .moduletable h3,
#left .moduletable_menu  h3,
#left h3 {
font-weight:bold;
font-size:20px;
background: url(../images/bg-h3.jpg) repeat-x 0 100%;
padding-bottom:10px;
width:251px;
color:#020202;

}

#left .moduletable li,
#left .moduletable_menu li{
background: url(../images/puce.jpg) no-repeat 0 4px;
list-style:none !important;
padding-left:18px;

}

#search {
float:left;
background:#545a62;
width:100%;
height:90px;
margin-top:5px;

}

#search .inputbox {
margin-left:20px;
border-bottom:1px solid #000;

}

#search h3 {
color:#fff;
margin-left:20px;

}

/***********************/
#main {
float:left;
width:560px;
margin-left:55px;
text-align:left;

}

#main-full {
float:left;
width:865px;
text-align:left;

}


/*********joomla style**************/
ul.actions  {
background:transparent;
margin:0;

}

ul.actions  li{
list-style:none;
float:right;

}

.article-info {

}

dt.article-info-term {
display:none;

}

dl.article-info dd{
margin:0;
font-size:12px;

}

.items-leading {
width:100%;
font-weight:normal;

}

.items-row {
width:100%;
font-weight:normal;

}

.items-page,.category-desc {
width:100%;
font-weight:normal;

}

.items-leading,.items-row .item, .item-page ,.category-desc {
width:100%;
background:#fff url(../images/bg-ul.jpg) repeat 0 0;
border:1px solid #e8e8e8;
padding:10px;
margin-bottom:40px;
padding-bottom:20px; 

}

.items-leading h2,.items-leading h2 a ,
.items-row h2,.items-row h2 a ,
.item-page h2,.item-page h2 a {
font-size:20px;
font-weight:bold;
color:#020202;
background: url(../images/bg-h3.jpg) repeat-x 0 100%;
padding-bottom:10px;
text-transform:capitalize;

} 

.items-leading h2 a:hover, 
.items-row h2 a:hover,
 .item-page h2 a:hover {
color:#000;

} 

.item-separator {
width:100%;
display:block;
height:10px;

}

.readmore a {
float:left;
font-weight: normal;
background: url(../images/puce.jpg) no-repeat 0 4px;
padding-left:15px;
margin-bottom:15px !important;

}

categories-list li {
list-style:none;

}

ul#archive-items li {
list-style:none;

}

.items-more{
padding:10px;
background:#fff url(../images/bg-ul.jpg) repeat 0 0;
border:1px solid #e8e8e8;

}

 .items-more h3{
font-weight:normal;
margin:0;
padding:10px 5px 10px 5px;
font-size:1.4em;
background: url(../images/bg-h3.jpg) repeat-x 0 100%;

}

 .items-more ol{
line-height:1.3em;
margin:0 ;
padding:10px 0 5px 2px;

}

 .items-more ol li{
padding:2px;
background: url(../images/puce.jpg) no-repeat 0 6px;
list-style:none;
padding-left:15px;
}

 .items-more ol li a {
display:inline;
margin:0;
font-weight:normal;
 padding:5px;

}

 .items-more ol li a:hover,
 .items-more ol li a:active,
 .items-more ol li a:focus {
font-weight:normal;
padding:5px 5px 5px 5px;
text-decoration:none

} 

/* Pagination ---*/

 .counter {
text-align:center;
padding:10px 0;

}

.pagination {
 float: left;
 width: 100%;
 padding:4px 0;
 text-align:center;
margin-bottom:25px;

}

.pagination li {
background: none;
display: inline;
margin: 0;
padding: 6px;
margin:0 3px;
overflow: hidden;

}

.pagination li span {
padding: 6px; 
line-height: 20px;
 
}

.pagination li a {
color: #000;
line-height: 20px;
padding:7px;
text-decoration: none;
background:#fff;

}

.pagination li a:hover, .pagination li a:active, .pagination li a:focus {
text-decoration: none;
color:#fff;
background:#222;

} 

/* ++++++++++++++  nav entre article  ++++++++++++++ */
 ul.pagenav {
 position:relative;
 margin-top:25px;
 
}
 
ul.pagenav li {
 list-style: none;
 padding: 7px;
 background:#222;
 color:#fff;
 
}

ul.pagenav li a {
list-style: none;
padding: 7px;
color:#fff;
 
}
 
ul.pagenav li:hover, ul.pagenav li:focus {
background:#010101;
color:#fff;
 
}
 
ul.pagenav li a:hover, ul.pagenav li a:focus { 
text-decoration:none;
color:#fff;

}
 
ul.pagenav li.pagenav-prev {
float: left;
 
}
 
ul.pagenav li.pagenav-next { 
float:right;

}

#footer {
float:left;
width:100%;
background: url(../images/footer.jpg) repeat 0 0px;
margin-top:35px;

}

 .box {
float:left;
width:200px;
background:transparent;
margin-right:30px;
text-align:left;
color:#fff;
margin-top:15px;
margin-bottom:15px;

} 

.box .moduletable h3,
.box .moduletable_menu  h3,
.box h3 {
color:#fff;
font-size:20px;
font-weight:bold;

}

.box .moduletable ,
.box .moduletable_menu  ,
.box  {
color:#fff;

}

.box .moduletable a ,
.box .moduletable_menu a  ,
.box a  {
color:#fff;
font-style:italic;

}

.box .moduletable a:hover ,
.box .moduletable_menu a:hover  ,
.box a:hover  {
color:#ccc;
font-style:italic;

}

#ftb-f {
float:left;
width:100%;
height:60px;
background: url(../images/footer.jpg) repeat 0 0px;
color:#fff;

}

.ftb {
float:left;
color:#fff;
width:800px;
height:30px;
margin-top:20px;
margin-bottom:0px;
background:transparent;
}

.ftb a {
color:#fff;

}

.ftb a :hover{
color:#ccc;

}

#topb {
float:left;
width:30px;
height:30px;
margin-top:10px;
padding:0 !important;
border:none !important;
background:transparent;

}

.top_button {
float:left;
padding:0 !important;
border:none !important;

}
